<footer>
    <div class="footer__container">
        <div class="footer__footer-container">
            <div class="footer__footer-block">
                <div class="footer__footer-block-img"><img src="/images/logo.png" alt="logo" style="width: 50%" /></div>
                <p>Come to our examination service, you let us serve your pet to be as safe as possible.</p>
                <div class="footer__footer-block-pay"><img src="/images/06.png" alt="payment" /></div>
            </div>
            <div class="footer__footer-block">
                <h3 class="footer__footer-title">Open time</h3>
                <p>Our support can help you 24/7</p>
                <ul class="footer__footer-block-ul">
                    <li>Monday - Friday : 08.00 am - 17.00 pm</li>
                    <li>Saturday : 08.00 am - 13.00 pm</li>
                    <li>Sunday : Closed</li>
                </ul>
            </div>

            <div class="footer__footer-block">
                <h3 class="footer__footer-title">Contact</h3>
                <p>Customers can contact us via:</p>
                <ul class="footer__footer-block-ul">
                    <li>
                        <i class="fa-solid fa-location-dot"></i>
                        <span> 236 Ba Dinh Ward 10 District 8</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-at"></i>
                        <span>Pawpetforcare@gmail.com</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-phone-flip"></i>
                        <span>(+84) 0906437281</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
