* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Cabin", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 16px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.8px;
}
ul,
ol,
dl {
    list-style-position: outside;
}
ul li {
    list-style: none;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
header {
    box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
    transition: all 0.5s ease 0s;
    position: relative;
    z-index: 99999;
}
/* Top-Header */
.top-bar {
    display: block;
    position: relative;
    z-index: 999;
    background: #e1c340;
    padding: 8px 0;
}
.container {
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.top-bar-info {
    display: inline-block;
    vertical-align: middle;
}
.top-bar-infor ul {
    margin-bottom: 0;
}
.top-bar-infor li {
    color: #fff;
    list-style-type: none;
    padding: 0 8px 0;
    letter-spacing: 1.5px;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
}
.top-bar-infor li i {
    font-size: 16px;
    color: #fff;
    margin-right: 8px;
    margin-top: 0;
    display: inline-block;
    vertical-align: middle;
}
.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.top-social-icon {
    padding: 0;
    float: right;
    margin: 5px 0 0 0;
}
.top-social-icon li {
    font-size: 14px;
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0;
    padding: 0 7px;
}
.top-social-icon li i {
    color: #fff;
    line-height: 28px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    font-size: 16px;
    padding: 0 3px;
}
/* Header-Menu */
.navbar-default {
    transition: all 0.5s ease 0s;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.navbar-default .container {
    position: relative;
}
.border-color-light-white {
    border-color: rgba(255, 255, 255, 0.2) !important;
}
.bg-theme {
    background-color: #4cd7d0;
}
.top-search {
    padding: 10px 0;
    display: none;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.top-search .input-group-addon {
    background-color: transparent;
    border: none;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    line-height: 36px;
    font-size: 16px;
}
.search-form_submit {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 11px;
    font-size: 18px;
    font-weight: 900;
}
.top-search input.form-control {
    background-color: transparent;
    border: none;
    -moz-box-shadow: 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px;
    -o-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px;
    color: #fff;
    height: 40px;
    padding: 0 15px;
}
.top-search input.form-control::placeholder {
    color: #fff;
}
.search-form_input {
    outline: none;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    vertical-align: baseline;
    box-shadow: none;
    color: #000;
    display: block;
    width: 96%;
    font-size: 16px;
    line-height: 16px;
    height: 37px;
}
.top-search .input-group-addon.close-search {
    cursor: pointer;
}
.col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.menu_area {
    position: relative;
    z-index: 2;
}
.alt-font {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}
.navbar {
    position: relative;
    display: flex;
    align-items: center;
}
.no-padding {
    padding: 0 !important;
}
.navbar-header-custom {
    padding: 22px 0 20px 0;
}
.navbar-header-custom img {
    max-height: 43px;
    transition-duration: 0.5s;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}
.ml-auto,
.mx-auto {
    margin-left: auto !important;
}
.navbar-nav li {
    list-style: none;
    -webkit-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.navbar-nav > li {
    margin-left: 10px;
    float: left;
}
.navbar-nav > li.has-sub {
    padding-right: 13px;
}
a {
    background-color: transparent;
}
a,
a:active,
a:focus {
    color: #616161;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
}
.navbar-nav > li > a {
    position: relative;
    display: block;
    font-size: 12px;
    font-weight: 600;
    padding: 21px 0.5rem;
    color: #232323;
    letter-spacing: 0.5px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.navbar-nav > li > a {
    font-size: 16px;
}
.attr-nav {
    float: right;
    margin-left: 11px;
    margin-right: -15px;
}
.attr-nav > ul {
    padding: 0;
    margin: 0 0 -5px 0;
    list-style: none;
    display: inline-block;
}
.attr-nav > ul > li {
    float: left;
    display: block;
}
.dropdown {
    position: relative;
}
.attr-nav > ul > li > i {
    color: #232323;
    display: block;
    padding: 21px 15px;
    position: relative;
}
section {
    padding: 60px 0;
    overflow: hidden;
    background: #fff;
}
[data-overlay-dark]:before,
[data-overlay-light]:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
[data-overlay-dark="7"]:before {
    opacity: 0.7;
}
[data-overlay-dark]:before {
    background: #000;
}
.cover-background {
    position: relative !important;
    background-size: cover !important;
    overflow: hidden !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.page-title-section {
    padding: 135px 0 115px;
    text-align: center;
}
[data-overlay-dark] .container {
    position: relative;
    z-index: 3;
}
.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.page-title-section h1 {
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1;
    color: #fff;
    margin-bottom: 0;
}
.page-title-section ul {
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}
.page-title-section ul li {
    display: inline-block;
}
.page-title-section ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.page-title-section ul li:first-child::after {
    content: "\f105";
    font-weight: 700;
    vertical-align: middle;
    color: #fff;
    font-family: Font Awesome\5 Free;
    padding: 0 5px 0 10px;
}
.page-title-section ul li:last-child a {
    color: #e1c340;
}
.page-title-section ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.padding-50px-right {
    padding-right: 50px;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
.col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
p {
    word-spacing: 0;
    margin: 0 0 20px;
}
.title-font-1 {
    margin-bottom: 5px;
    font-weight: 800;
    font-size: 36px;
    color: #232323;
    line-height: normal;
}
.title-font-2 {
    color: #e1c340;
    font-size: 18px;
}
.content {
    margin-bottom: 30px;
}
.list-style3 li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
}
.list-style3 li:before {
    position: absolute;
    content: "\f1b0";
    font-family: Font Awesome\5 Free;
    font-weight: 700;
    left: 0;
    font-size: 13px;
    color: #4cd7d0;
}
.text-extra-dark-gray {
    color: #232323;
}
.icon-flash {
    vertical-align: middle;
}
.tile-team {
    margin-bottom: 40px;
    text-align: center !important;
}
.h3-title-team {
    margin: 0 0 20px;
    padding: 0;
    letter-spacing: 0;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    color: #232323;
    line-height: normal;
    font-weight: 900;
    font-size: 50px;
}
.center-col {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.p-content-team {
    width: 60%;
}
.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.team-block {
    position: relative;
}
.member {
    padding: 40px;
    border-radius: 5px;
    background-color: #f7f7f7;
    text-align: center !important;
    margin-bottom: 10px;
}
.image-member {
    width: 50%;
    border-radius: 100%;
    border-width: 3px !important;
    border: 1px solid #dee2e6 !important;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.name-member {
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 18px;
}
.role-member {
    padding-bottom: 20px;
    border-color: rgba(0, 0, 0, 0.1) !important;
    font-weight: 700;
    font-size: 13px;
    border-bottom: 1px solid #dee2e6 !important;
}
.social-icon-style2 {
    margin-bottom: 0;
}
.social-icon-style2 li {
    text-align: center;
    margin-right: 10px;
    display: inline-block;
}
.cover-background {
    background-color: #f2f2f4 !important;
}
.col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.img-why {
    width: 100% !important;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
.col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
.px-lg-5 {
    padding-right: 3rem !important;
}
.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}
.text-secondary {
    color: #81e5d0 !important;
    font-weight: 700 !important;
    font-size: 1.5rem;
}
.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}
.display-4 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}
.text-primary {
    color: #ed6436 !important;
}
.pb-2,
.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.m-0 {
    margin: 0 !important;
}
.mr-3,
.mx-3 {
    margin-right: 1rem !important;
}
.d-flex {
    display: flex !important;
}
.align-items-center {
    align-items: center !important;
}
.font-weight-normal {
    font-weight: 400 !important;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600 !important;
    font-size: 1rem;
}
.border-radius-5 {
    border-radius: 5px;
}
.col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.padding-20px-top {
    padding-top: 20px;
}
.font-weight-800 {
    font-weight: 800;
    font-size: 25px;
    color: #000;
}
.text-theme-color {
    color: #4cd7d0;
}
.text-theme-color i {
    margin-left: 5px;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.working-hour li:before {
    font-family: Font Awesome\5 Free;
    content: "\f00c";
    font-weight: 900;
    color: #4cd7d0;
    font-size: 16px;
    margin-right: 10px;
}
.working-hour li {
    padding-bottom: 15px;
}
.padding-30px-all {
    padding: 30px;
}
.font-weight-800-1 {
    font-weight: 800;
    font-size: 24px;
}
.list-style2 {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-style2 li:before {
    content: "";
}
.list-style2 li {
    position: relative;
    padding: 0 0 8px 0;
    margin: 0 0 8px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.float-right {
    float: right !important;
}
.butn {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 40px 20px;
    line-height: 1;
    display: inline-block;
    text-align: center;
    color: #fff;
    border: none;
    background-color: #e1c340;
    border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;
    position: relative;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.4s linear 0s;
    border-color: #e1c340;
    letter-spacing: 1px;
}
.butn.small {
    font-size: 14px;
    padding: 10px 20px 10px;
}
.alt-font {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}
