:root {
    --primaryColor: #e1c340;
    --blackColor: #232323;
    --grayColor: #6f6f6f;
    --aquaColor: #4cd7d0;
    --backgroundColor: #ffffff;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    color: var(--grayColor);
    font-weight: 400;
    line-height: 28px;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    position: relative;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0;
    padding: 0;
}
.btn {
    border-radius: 5px 20px 5px;
    background: var(--primaryColor);
    color: var(--backgroundColor);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 40px 20px;
    line-height: 1;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
.small {
    font-size: 14px;
    padding: 10px 20px 10px;
}
.buttonLogout {
    margin: 0 10px;
    background-color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
