:root {
    --primaryColor: #e1c340;
    --blackColor: #232323;
    --grayColor: #6f6f6f;
    --aquaColor: #4cd7d0;
    --backgroundColor: #ffffff;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    color: var(--grayColor);
    font-weight: 400;
    line-height: 28px;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    position: relative;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0;
    padding: 0;
}
.btn {
    border-radius: 5px 20px 5px;
    background: var(--primaryColor);
    color: var(--backgroundColor);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 40px 20px;
    line-height: 1;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
.small {
    font-size: 14px;
    padding: 10px 20px 10px;
}
/* top-bar */
.top-bar {
    background-color: var(--primaryColor);
    width: 100%;
    color: #fff;
    padding: 10px 0;
}
.top-bar-container {
    display: flex;
    justify-content: space-between;
}
.top-bar-contract {
    display: flex;
    justify-content: space-between;
}
.top-contract-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.top-contract-block:first-child {
    padding-left: 0;
}
.contract-text {
    margin-left: 8px;
}

.top-bar-icon {
    display: flex;
    justify-content: space-between;
}
.top-social-icon {
    padding: 0 10px;
    cursor: pointer;
}
.top-social-icon a {
    color: var(--backgroundColor);
}

/* navbar */
.nav-bar {
    background-color: var(--backgroundColor);
    color: var(--blackColor);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar-logo {
    padding: 25px 0 20px 0;
    align-items: center;
}
.nav-bar-menu {
    flex: 1;
    text-align: right;
}
.menu-link {
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    font-weight: 500;
}
.menu-link a {
    color: var(--blackColor);
}
.nav-bar-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}
.navigation-icon-a {
    padding: 21px 15px;
    color: var(--blackColor);
    font-size: 17px;
}

/* Banner */
.banner {
    background-image: url('../images/slide-04.jpg');
    height: 648px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 90px;
}
.banner-container {
    position: absolute;
    top: 140px;
    left: 20px;
    max-width: 500px;
}
.banner-container h1 {
    font-size: 60px;
    font-weight: 800;
    color: var(--blackColor);
    font-family: "Nunito", sans-serif;
    line-height: normal;
}
.banner-container p {
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Service */
.service {
    margin-bottom: 90px;
    position: relative;
}
.service-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}
.service-block {
    background-color: #f7f7f7;
    padding: 30px 0;
    text-align: center;
    flex: 1;
}
.service-icon {
    color: #4cd7d0;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
}
.service-block h5 {
    font-size: 18px;
    color: var(--blackColor);
    font-family: "Nunito", sans-serif;
    margin-bottom: 5px;
}
.service-block p {
    color: var(--blackColor);
    line-height: 28px;
}
.booking {
    margin-bottom: 90px;
}
.booking-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.booking-form,
.booking-content {
    flex: 1;
}
.booking-form {
    background-color: orange;
    border-radius: 30px;
    position: relative;
    padding: 30px;
    margin-right: 30px;
}
.booking-form-li {
    margin-bottom: 20px;
}
.booking-form-li input {
    width: 90%;
    border-radius: 30px;
    border: gray solid 1px;
    padding: 15px 20px;
    outline: none;
}
.booking-form-li select {
    width: 98%;
    padding: 10px 10px;
    border-radius: 30px;
    outline: none;
    border: gray solid 1px;
}
.btn-booking {
    background-color: black;
    color: white;
    width: 100%;
    padding: 15px 0;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
}
.booking-content {
    padding: 30px;
}
.booking-content h3 {
    color: yellow;
    font-size: 26px;
    margin-bottom: 30px;
}
.booking-content h2 {
    color: orange;
    font-size: 40px;
    margin-bottom: 30px;
}
.booking-content-desc {
    margin-top: 30px;
    display: flex;
}
.booking-content-block {
    flex: 1;
}
.content-sub-block {
    flex: 1;
    color: black;
    margin-bottom: 30px;
}
.content-sub-block div {
    display: flex;
    align-items: center;
    font-size: 20px;
}
.content-sub-block div i {
    margin-right: 15px;
    color: orangered;
}
/* Banner 2 */

.banner2-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;
}
.banner2-wrapper:first-child {
    margin-bottom: 20px;
}
.banner2-block {
    position: relative;
}
.banner2-content {
    position: absolute;
    top: 22%;
    left: 8%;
}
.top-content {
    top: 65%;
    left: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.top-content h5 {
    font-size: 40px;
    font-weight: 500;
    font-family: "Times new roman" , sans-serif;
    color: #fff;
    margin-bottom: 30px;
}
.top-content2 h4 {
    margin-bottom: 30px;
}
.top-content2 h5 {
    font-family: "Engagement", cursive;
    font-weight: 500;
    font-size: 40px;
    color: var(--blackColor);
    margin-bottom: 20px;
    margin-top: 20px;
}
.bottom-content h5 {
    color: var(--blackColor);
}

/* Deal */
.deal {
    margin-top: 90px;
    margin-bottom: 90px;
}
.title-container {
    font-size: 40px;
    font-weight: 900;
    font-family: "Nunito", sans-serif;
    color: var(--blackColor);
    line-height: normal;
}
.deal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.deal-block:first-child {
    margin-right: 170px;
}
.deal-block-title {
    color: #4cd7d0;
    font-size: 26px;
    font-family: "Engagement", cursive;
}
.deal-block h4 {
    font-weight: 800;
    font-size: 46px;
    margin-bottom: 20px;
}
.deal-block-desc {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.8px;
    margin-bottom: 40px;
}
.deal-block-ul {
    margin-bottom: 40px;
}
.deal-li {
    display: inline-block;
    padding: 0 30px;
    border-right: 1px solid #c5c5c5;
    text-align: center;
}
.deal-li:first-child {
    padding-left: 0;
}
.deal-li-time {
    font-size: 36px;
    font-weight: 700;
    color: var(--blackColor);
    line-height: normal;
    position: relative;
}

/* Footer */
footer {
    padding-top: 70px;
    background-color: #f7f7f7;
}
.footer-bottom {
    border-top: 1px solid;
    text-align: center;
    padding: 20px 0;
    border-color: rgba(0, 0, 0, 0.1);
    margin-top: 60px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 -25px;
}
.footer-block {
    flex: 1;
    padding: 0 25px;
}
.footer-block-img {
    margin-bottom: 30px;
}
.footer-block p {
    margin-bottom: 30px;
    color: var(--blackColor);
}

.footer-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.5;
    position: relative;
    font-family: "Nunito", sans-serif;
    color: var(--blackColor);
}
.footer-title::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    background-color: #4cd7d0;
    width: 15%;
    height: 3px;
}
.footer-block p {
    color: var(--blackColor);
    margin-bottom: 20px;
    font-size: 16px;
}
.footer-block-ul li {
    color: #939393;
    padding: 5px 0px;
    font-family: "Cabin", sans-serif;
}

.footer-block-ul li i {
    margin-right: 10px;
    color: #e1c340;
}
