<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pow for pet care</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Engagement&display=swap" rel="stylesheet" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/Blog.css" />
    </head>
    <body>
        <%- include('../partials/header') %>
        <section class="page-title-section bg-img cover-background" data-overlay-dark="7" style="background-image: url(/images/page-title.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Tạp Chí</h1>
                    </div>
                    <div class="col-md-12">
                        <ul>
                            <li><a href="/">Trang Chủ</a></li>
                            <li><a href="/blog">Tạp Chí</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container pt-5">
                <div class="content mb-5 pt-5">
                    <h4 class="title-content mb-3">Tạp Chí Thú Cưng</h4>
                    <h1 class="title-main mb-0"><span class="Update-content">Thông Tin</span> Thú Cưng</h1>
                </div>
                <div class="row pb-3">
                    <div class="col-lg-4 mb-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="/images/blog-1.jpg" alt="" />
                            <div class="card-body pt-4">
                                <h4 class="card-title text-trucate">Danh sách các thuốc tẩy giun cho chó con an toàn</h4>
                                <div class="icon-data mb-3">
                                    <small class="mr-2"> <i class="fa-regular fa-comment"></i> 10 </small>
                                    <small class="mr-2"> <i class="fa-regular fa-heart"></i> 20 </small>
                                    <small class="mr-2"> <i class="fa-regular fa-thumbs-up"></i> 50 </small>
                                </div>
                                <p>Mua thuốc tẩy giun cho chó con là một việc nhất thiết bạn phải làm khi nuôi một chú chó.</p>
                                <a href="#" class="font-a">Đọc Thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="/images/blog-2.jpg" alt="" />
                            <div class="card-body pt-4">
                                <h4 class="card-title text-trucate">Phải làm sao khi chó bị đau chân và đi khập khiễng?</h4>
                                <div class="icon-data mb-3">
                                    <small class="mr-2"> <i class="fa-regular fa-comment"></i> 10 </small>
                                    <small class="mr-2"> <i class="fa-regular fa-heart"></i> 20 </small>
                                    <small class="mr-2"> <i class="fa-regular fa-thumbs-up"></i> 50 </small>
                                </div>
                                <p>Chó bị đau chân cà nhắc có thể do nhiều nguyên nhân bởi loài chó rất hiếu động.</p>
                                <a href="#" class="font-a">Đọc Thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="/images/blog-3.jpg" alt="" />
                            <div class="card-body pt-4">
                                <h4 class="card-title text-trucate">Từng bước cách chăm sóc chó mẹ sau sinh mổ đẻ</h4>
                                <div class="icon-data mb-3">
                                    <small class="mr-2"> <i class="fa-regular fa-comment"></i> 10 </small>
                                    <small class="mr-2"> <i class="fa-regular fa-heart"></i> 20 </small>
                                    <small class="mr-2"> <i class="fa-regular fa-thumbs-up"></i> 50 </small>
                                </div>
                                <p>Chăm sóc chó mẹ sau sinh thường hoặc mổ đẻ là việc làm rất quan trọng.</p>
                                <a href="#" class="font-a">Đọc Thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="/images/blog-2.jpg" alt="" />
                            <div class="card-body pt-4">
                                <h4 class="card-title text-trucate">Cách chăm sóc chó mang thai tại nhà cần phải biết</h4>
                                <div class="icon-data mb-3">
                                    <small class="mr-2"> <i class="fa-regular fa-comment"></i> 10 </small>
                                    <small class="mr-2"> <i class="fa-regular fa-heart"></i> 20 </small>
                                    <small class="mr-2"> <i class="fa-regular fa-thumbs-up"></i> 50 </small>
                                </div>
                                <p>Việc chăm sóc chó mang thai tại nhà cũng không hề đơn giản.</p>
                                <a href="#" class="font-a">Đọc Thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="/images/blog-3.jpg" alt="" />
                            <div class="card-body pt-4">
                                <h4 class="card-title text-trucate">4 mẫu cắt tỉa lông chó Poodle đẹp nhất mọi thời đại</h4>
                                <div class="icon-data mb-3">
                                    <small class="mr-2"> <i class="fa-regular fa-comment"></i> 10 </small>
                                    <small class="mr-2"> <i class="fa-regular fa-heart"></i> 20 </small>
                                    <small class="mr-2"> <i class="fa-regular fa-thumbs-up"></i> 50 </small>
                                </div>
                                <p>Hiện nay chúng có rất nhiều kiểu mẫu cắt tỉa lông chó Poodle.</p>
                                <a href="#" class="font-a">Đọc Thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="/images/blog-1.jpg" alt="" />
                            <div class="card-body pt-4">
                                <h4 class="card-title text-trucate">Chó sơ sinh ngộ độc là do chó mẹ bị viêm tuyến sữa</h4>
                                <div class="icon-data mb-3">
                                    <small class="mr-2"> <i class="fa-regular fa-comment"></i> 10 </small>
                                    <small class="mr-2"> <i class="fa-regular fa-heart"></i> 20 </small>
                                    <small class="mr-2"> <i class="fa-regular fa-thumbs-up"></i> 50 </small>
                                </div>
                                <p>Chó mẹ bị viêm tuyến sữa gây nguy hiểm cho chó con mới sinh. Đây là hiện tượng rất thường.</p>
                                <a href="#" class="font-a">Đọc Thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../partials/footer') %> <%- include('../partials/utils.ejs') %>
    </body>
</html>
