<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pow for pet care</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Engagement&display=swap" rel="stylesheet" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/booking.css" />
        <script src="/js/moment.js"></script>
        <script src="/js/booking.js"></script>
    </head>

    <body>
        <%- include('../partials/header') %>
        <section class="page-title-section bg-img cover-background" data-overlay-dark="7" style="background-image: url(/images/page-title.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Booking</h1>
                    </div>
                    <div class="col-md-12">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/booking">Booking</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row pb-3 background">
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="banner-form">
                            <h3 class="icon-title-1 mb-3"></h3>
                            <h3 class="mb-3 tilte-h3">Pet Boarding</h3>
                            <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo</p>
                            <a href="#" class="link-read">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="banner-form">
                            <h3 class="icon-title-2 mb-3"></h3>
                            <h3 class="mb-3 tilte-h3">Pet Feeding</h3>
                            <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo</p>
                            <a href="#" class="link-read">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="banner-form">
                            <h3 class="icon-title-3 mb-3"></h3>
                            <h3 class="mb-3 tilte-h3">Pet Grooming</h3>
                            <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo</p>
                            <a href="#" class="link-read">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row item">
                    <div class="col-lg-5">
                        <div class="bg-primary py-5 px-4 px-sm-5">
                            <div class="py-5">
                                <form onsubmit="handleBooking(event)">
                                    <div class="form-group">
                                        <input class="input form-control" id="userNameInput" type="text" placeholder="User Name" required />
                                    </div>
                                    <div class="form-group">
                                        <input class="input form-control" id="phoneInput" type="text" placeholder="Phone Number" required />
                                    </div>
                                    <div class="form-group">
                                        <input class="input form-control" id="dateInput" type="date" />
                                    </div>
                                    <div class="form-group">
                                        <input class="input form-control" type="time" id="timeInput" min="07:00:00" max="18:00:00" placeholder="" />
                                    </div>
                                    <div class="form-group">
                                        <input class="input form-control" disabled type="text" placeholder="$" id="priceInput" value="0" />
                                    </div>
                                    <div class="form-group">
                                        <select class="custom-select border-0 px-4" name="" id="Select" onchange="handleOnchange(event)" style="height: 47px">
                                            <option disabled>Choose Service</option>
                                        </select>
                                    </div>
                                    <div id="Price">
                                        <span id="Money" class="py-3" style="color: white; font-size: 20px; margin-bottom: 15px"></span>
                                        <button class="btn btn-dark btn-block border-0 py-3" style="cursor: pointer">Booking</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 py-5 py-lg-0 px-3 px-lg-5">
                        <h4 class="text-secondary mb-3">Best service</h4>
                        <h1 class="Title-Booking mb-4">Schedule <span class="text-primary">Your Pet</span></h1>
                        <p>One of the best rated services</p>
                        <div class="row py-2 pp-3">
                            <div class="col-sm-6">
                                <div class="form-flex-column">
                                    <div class="form-flex-center mb-2">
                                        <h1 class="text-secondary font-icon mr-3 mr-0"><i class="fa-solid fa-house-medical-flag"></i></h1>
                                        <h5 class="text-structure mr-0">Check-up</h5>
                                    </div>
                                    <p>With a team of veterinarians who are formally trained and trained abroad</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-flex-column">
                                    <div class="form-flex-center mb-2">
                                        <h1 class="text-secondary font-icon mr-3 mr-0"><i class="fa-solid fa-scissors"></i></h1>
                                        <h5 class="text-structure mr-0">Save the barn</h5>
                                    </div>
                                    <p>Offers a fixed weekly, overnight, or half-day pet care package.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-flex-column">
                                    <div class="form-flex-center mb-2">
                                        <h1 class="text-secondary font-icon mr-3 mr-0"><i class="fa-solid fa-fish-fins"></i></h1>
                                        <h5 class="text-structure mr-0">Vaccination</h5>
                                    </div>
                                    <p>It reduces the risk of dangerous diseases common in dogs and cats.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-flex-column">
                                    <div class="form-flex-center mb-2">
                                        <h1 class="text-secondary font-icon mr-3 mr-0"><i class="fa-solid fa-wand-sparkles"></i></h1>
                                        <h5 class="text-structure mr-0">24/7 emergency</h5>
                                    </div>
                                    <p>Please call the nearest Pet.. branch and bring your pet to the hospital when you see unusual symptoms</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="id01" class="modal">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <div class="modal-content">
                <div class="container-modal">
                    <h1 style="margin-bottom: 2%">Thanh Toán</h1>
                    <div class="form-bank">
                        <div class="bank">
                            <label class="SoTK" for="STK">Số Tài Khoản</label>
                            <input style="padding: 5px 16px; border-radius: 5px; outline: none" type="text" name="STK" id="STK" class="input-bank" required />
                        </div>
                        <div class="bank">
                            <label class="SoTK" for="STK">Tên Ngân Hàng</label>
                            <select style="padding: 5px 16px; border-radius: 5px; outline: none" name="STK" id="">
                                <option value="">Sacombank</option>
                                <option value="">ACB</option>
                                <option value="">Vietinbank</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn-pay" onclick="Alert()">Thanh Toán</button>
                </div>
            </div>
        </div>
        <%- include('../partials/footer') %> <%- include('../partials/utils.ejs') %>
    </body>
</html>
